@use '../abstracts/' as *;

.btn {
  &-ChangePhoto {
    border: none;
    cursor: pointer;
    padding: 16px;
    border-radius: 20px;
    background-color: $background-color-btn;
    &:hover {
      color: $icon-color;
    }
  }
  &-Disconnect {
    border: none;
    padding: 16px;
    background-color: $background-color;
    color: $bg-color-btn-third;
    &:hover {
      color: $icon-color;
    }
  }
  &-save {
    background-color: $bg-color-btn-third;
    color: $background-color;
    border: none;
    padding: 16px;
  }
  &-Delete {
    background-color: $background-color-btn;
    border: none;
    padding: 16px;
    &:hover {
      color: $icon-color;
    }
  }
  &-Login {
    background-color: $bg-button-color;
    border-radius: 20px;
  }
  &-Register {
    background-color: $background-color-btn;
    border-radius: 20px;
  }
  display: block;
  width: 100%;
  font-size: 16px;
  font-family: $bold-font;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-bottom: 2px solid $icon-color;
  margin-top: 16px;
  transition: 0.3s linear;
  &:hover {
    color: $icon-color;
  }
}
