@use '../abstracts/' as *;

@font-face {
  font-family: Poppins;
  src: url(/src/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-bold;
  src: url(/src/assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(/src/assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url(/src/assets/fonts/PlayfairDisplay-Regular.ttf);
}

body {
  font-family: $primary-font;
  font-weight: 400;
  color: $text-color;
  background-color: $background-color;
}
